body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 20rem;
  padding: 1rem;
  border-radius: 2rem;
}

.card-img {
  max-width: 100%;
  border-radius: 2rem;
}

img {
  max-width: 100%;
  border-radius: 1.5rem;
}

.card_title {
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  text-align: center;
}

.card__details {
  color: hsl(220, 15%, 55%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-align: center;
}
